.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 961px;
}

.u-section-1 .u-group-1 {
  width: 508px;
  left: auto;
  right: 214px;
  background-image: none;
  min-height: 961px;
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  text-transform: none;
  letter-spacing: normal;
  margin: 67px auto 0 237px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  margin: -106px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 56px 0 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 620px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 22px;
}

.u-section-1 .u-icon-1 {
  width: 123px;
  height: 123px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 105px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: 43px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 0 31px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 620px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 14px;
}

.u-section-1 .u-icon-2 {
  width: 123px;
  height: 123px;
  background-image: none;
  margin: 105px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 3rem;
  margin: 43px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  margin: 0 39px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-1 .u-group-1 {
    min-height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 511px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 511px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-1 .u-group-1 {
    min-height: 961px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 178px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 112px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

}